$base-font-family: "Rubik", sans-serif !default;

$body-bg-color: #f2f4f8 !default;
$gray-bg-color: #F8FAFC !default;

$color-primary: #4B7DF3 !default;
$color-text: #111729 !default;
$color-gray: #677489 !default;
$color-red: #EA344C !default;

$color-border: #E3E8EF !default;

$shadow: 0 0 0 4px #F4EBFF !default;

$radius-md: 8px !default;
$radius-sm: 6px !default;